/*## CSS regler for den spesifikke siden (animasjoner, bilder, etc.) */
/* OBS! Husk å endre navn på denne filen til nummeret på siden din */

#speech-bubble-1 { /* Endrer utseende på snakkeboblen */
    opacity: 0; /* 0 = usynlig / 1 = synlig */

    /* Størrelse på snakkeboblen */
    width: 300px;
    height: 200px;

    /* Plassering av snakkeboblen */
    top: 8px;
    left: 1095px;
    
    /* Plassering av teksten i boblen */
    text-align: center;
    font-size: 25px;
}

#speech-bubble-1 p { /* sentrerer teksten inni snakkeboblen */
    margin: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#speech-bubble-1::after { /* Halen på snakkeboblen */
    content: "";
    border: 30px solid transparent;
    position: absolute;
    border-right-color: white;
    border-left: 0;

    /* Justerer plassering av "halen" til snakkeboblen */
    left: 13px;
    transform: rotate(309deg);
    top: 81%;
    margin-top: -20px;
}

#think-bubble-1 { /* Endrer utseende på tankeboblen */
    opacity: 0; /* 0 = usynlig / 1 = synlig */

    /* Størrelse på tankeboblen */
    width: 300px;
    height: 200px;

    /* Plassering av tankeboblen */
    top: 8px;
    left: 1095px;
    
    /* Plassering av teksten i boblen */
    text-align: center;
    font-size: 25px;
}

#think-tail-1 { /* Største boblen i halen */
    opacity: 0; /* 0 = usynlig / 1 = synlig */
    position: absolute;
    width: 40px;
    height: 40px;
    top: 180px;
    left: 1110px;
}

#think-tail-2 { /* Mellomste boblen i halen */
    opacity: 0; /* 0 = usynlig / 1 = synlig */
    position: absolute;
    width: 30px;
    height: 30px;
    top: 213px;
    left: 1083px;
}

#think-tail-3 { /* Minste boblen i halen */
    opacity: 0; /* 0 = usynlig / 1 = synlig */
    position: absolute;
    width: 13px;
    height: 13px;
    top: 230px;
    left: 1050px;
}

#think-bubble-1 p { /* sentrerer teksten inni tankeboblen */
    margin: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text-box-1 { /* Endrer utseende på tekstboksen */
    opacity: 0; /* 0 = usynlig / 1 = synlig */
    
    /* Plassering på tekstboksen */
    top: 0;
    right: 0; /* Bytt til "left" om du skal flytte til andre siden */
    
    /* størrelse på tekstboksen */
    width: 400px;
    height: 300px;

    /* Størrelsen på teksten */
    text-align: center;
    font-size: 25px;
}

#text-box-1 p { /* Endrer utseende på teksten i tekstboksen */
    margin: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}